@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-background: #1B1B1C;
	--color-foreground: #E8E8E8;
	--color-accent: #B1E7E4;
	--color-accentMute: #82c9c5;
	--color-textLight: #A6A6A6;
	--color-mute: #424242;
	--color-backgroundOverlay: #131314;
	--color-surface: #222222;
	--color-backgroundCode: #313445;
	--color-code: #C9D0F3;

	--text-micro: 13px;
	--text-xxs: 14px;
	--text-xs: 15px;
	--text-sm: 16px;
	--text-md: 20px;
	--text-lg: 24px;
	--text-xl: 32px;
	--text-2xl: 40px;
	--text-hero: 80px;

	--spacing-xs: 8px;
	--spacing-sm: 16px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xl: 40px;
	--spacing-2xl: 80px;

	--breakpoint-desktop: 1280px;
}

:root {
	--background: #1B1B1C;
	--foreground: #E8E8E8;
	--accent: #B1E7E4;
	--accentMute: #82c9c5;
	--accent-60: #B1E7E499;
	--textLight: #A6A6A6;
	--mute: #424242;
	--backgroundOverlay: #131314;
	--surface: #222222;
	--backgroundCode: #313445;
	--code: #C9D0F3;

	--desktop: 1280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1B1B1C;
		--foreground: #E8E8E8;
		--accent: #B1E7E4;
		--accentMute: #82c9c5;
		--textLight: #A6A6A6;
		--mute: #424242;
		--backgroundOverlay: #131314;
		--surface: #222222;
		--backgroundCode: #313445;
		--code: #C9D0F3;
	}
}

@layer base {	
	body {
	  background: var(--background);
	  color: var(--foreground);
	  font-family: sans-serif;
	  font-size: var(--text-sm);
	  font-weight: 300;
	}
	h1 {
		font-size: var(--text-lg);
	}
	.mainLayout {
		width: 100%;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nextImage {
		object-fit: cover;
		overflow: hidden;
		overflow-clip-margin: unset;
	}
	.gridSoftSkills {
		width: 100%;
		max-width: var(--desktop);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: var(--spacing-md);
	}
}

.grid4Container {
	width: 100%;
	max-width: var(--desktop);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: var(--spacing-md);
}


.revealGradient {
  position: relative;
  color: var(--foreground); 
  overflow: hidden;
  background-color: var(--surface);
  z-index: -2;
}

.revealGradient::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--surface), var(--accent-60));
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1; 
  
	animation: reveal 2s forwards, fadeOut 1s calc(var(--reveal-delay, 0s) + 1.5s) forwards;
  	animation-delay: var(--reveal-delay, 0s), calc(var(--reveal-delay, 0s) + 1.5s);
}

@keyframes reveal {
  to {
    transform: scaleX(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-height: 0;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #52525a; 
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #52525a; 
}